section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 490px;
   }
.text-center {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    
body {
    background-color: #B2EBF2;
   }
div {
    margin: 5px;
    }
.container-fluid {
    text-align: center;
    }
a {
    color:rgb(0, 0, 0);
}

.card-body{
    text-align: center;
}

#ingresar{
    position: absolute;
    right: 20px;
    text-align: center;
}
#id1{
    margin: 10px;
    border-radius: 10px;
}
